<!DOCTYPE html>
<html>
<body>

<h1>The form element</h1>

<form action="">
    <label for="fname">Name :</label>
    <input type="text" id="fname" name="name"><br><br>
    <label for="lname">Email :</label>
    <input type="email" id="lname" name="email"><br><br>
    <select name="visibilty" id="visibilty">
        <option value="public">Public</option>
        <option value="frineds">Friends</option>
        <option value="friendsOfFriends">friends Of Friends</option>
    </select><br>
    <label for="lname">Password :</label>
    <input type="password" id="lname" name="password"><br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>
