<center>
    <div style="border:solid">
        <h1>{{username}} Tweet List ({{tweetscount}})</h1>
        <br/>
        <table border="2">
            <thead>
            <tr>
                <td>name</td>
                <td>email</td>
                <td>tweet</td>
            </tr>
            </thead>
            <tbody>
        {{#showtweets}}
            <tr>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>{{tweet}}</td>
            </tr>
        {{/showtweets}}
            </tbody>
        </table>
    </div>
</center>