<center>
      <div style="border:solid">
      <h1>Users List</h1>
          {{#users}}
          <br/><br/>
              <lable>Name  :</lable><label><b>{{name}}</b></label><br/>
              <lable>Email :</lable><label><b>{{email}}</b></label>
              <br/><br/>
          {{/users}}
      </div>
</center>